* {
  box-sizing: border-box;
}

body {
  color: cornsilk;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 0px;
}

.word-with-different-color {
  color: darkred;
}

header {
  width: 100%;
  background-color: #FA8072;
  padding: 25px;
  text-align: center;
  margin: 0px;
}

/* .cartoon-img {
  height: 250px;
  width: auto;
  border: 10px solid rgb(170, 170, 170);
  border-radius: 450px;
  margin: -200px;
}

.cartoons {
  display: flex;
  justify-content: center;
} */

h1 {
  margin: 0;
  padding: 0;
}

p, ul{
  font-family: 'Mukta', sans-serif;
  margin: 20px;
}

h2 {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 60px;
  position: relative;
  top: -20px;
  font-weight: bolder;
  letter-spacing: -0.15em;
}

h4 {
  margin: 0;
  padding: 0;
}

/* section {
  margin: 0px;
  padding: 0 25px 25px 25px;
} */
/* 
.about-title {
  color: #FA8072;
}

.about {
  background-color: #FFA07A;
  width: 50%;
}

.skills {
  background-color: rgb(209, 133, 104);
  width: 50%;
}

.skills-title {
  color: #FA8072;
}

.projects-title {
  color: #FFA07A;
}

.projects {
  background-color: #fac1a2;
} */

.navbar {
  background-color: black; 
}

ul {
  list-style: none;
  text-align: center;
  margin: 0;
}

li {
  display: inline-block;
  margin: 15px;
  font-size: 12px;
}

a {
  color: cornsilk;
  text-decoration: none;
}

/* .first-two-sections {
  display: flex;
} */

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}