* {
  box-sizing: border-box;
}

body {
  color: #f3f1e9;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  background-image: url(images/download.gif);
  background-size: cover;
}

/* .word-with-different-color {
  color: darkred;
} */

p {
  font-family: 'Mukta', sans-serif;
  text-align: justify;
  font-size: 16px;
}

h2 {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 55px;
  text-transform: uppercase;
  color: #aa92c7;
}

h4 {
  margin: 10px 0;
  padding: 0;
  font-size: 20px;
  text-transform: uppercase;
  color: #d195b8;
}

ul {
  list-style: none;
  text-align: center;
  margin: 220px 30px;
  padding: 0;
}

li {
  display: block;
  margin: 20px;
  font-size: 35px;
}

a {
  color: #09191c;
  text-decoration: none;
}

header {
  width: 30%;
  background-color: #1e2f40;
  padding: 50px 25px;
  margin: 0px;
}

.everyone-side-by-side {
  display: flex;
  justify-content: stretch;
  width: 100%;
  height: 100vh;
}

.sections-container {
  display: flex;
  justify-content: end;
}

.accordion {
  background-color: rgb(196, 127, 127);
  border: 1px solid #09191c;
  color: #09191c;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  padding: 18px;
  width: 90px;
  height: 100vh;
  outline: 4px solid #09191c;
  transition: 0.4s;
}

.about-accordion {
  background-color: #86425d;
}

.skills-accordion {
  background-color: #c9698b;
}

.projects-accordion {
  background-color: #e88d9a;
}

.contacts-accordion {
  background-color: #f1a89d;
}

.title {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.active {
  background-color: #cc93bb;
}

.accordion:hover {
  background-color: #cc93bb;
}

.panel {
  padding: 0 18px;
  background-color: rgb(218, 154, 154);
  border: 1px solid #09191c;
  outline: 4px solid #09191c;
  display: none;
  max-width: 0;
  overflow: scroll;
  transition: max-height 0.2s ease-out;
}

.show-panel {
  display: block;
}

.about-panel {
  background-color: #86425d;
  padding: 20px;
}

.skills-panel {
  background-color: #c9698b;
}

.projects-panel {
  background-color: #e88d9a;
}

.contacts-panel {
  background-color: #f1a89d;
}

section {
  display: flex;
  justify-content: space-around;
}

.screenshots {
  height: 280px;
  width: auto;
  margin: 20px 10px;
  border: 2px solid #09191c;
}

.headshots {
  height: 330px;
  width: auto;
  border: 2px solid cornsilk;
  margin: 100px 10px 10px 10px;
}

.about-text {
  max-width: 400px;
  margin: 20px;
}

.programming-skills {
  margin-top: 20px;
  font-size: 60px;
  text-align: justify;
  max-width: 370px;
}

.projects-content {
  max-width: 600px;
  margin: 20px;
}

.highlighted-text {
  color: #09191c;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

i {
  margin: 8px;
}